.gallery {
  background-color: $primary;
  border: 0.5em $secondary solid;
  padding: 1em;
}

@supports (display: grid) {
  .gallery {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1em;
    grid-auto-flow: dense;
  }

  @include media-breakpoint-down(lg) {
    .gallery {
      grid-template-columns: 1fr 1fr;
    }
  }

  .gallery__element {
    border-radius: 0.5em;
    overflow: hidden;
  }

  .gallery__element--horizontal {
    grid-column-end: span 2;
  }

  .gallery__element--vertical {
    grid-row-end: span 2;
  }

  .gallery__element--big {
    grid-area: span 2 / span 2;
  }
}
